{% extends 'index.html' %}
{% load static %}


{% block login %}
<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
			<div class="account-center">
				<div class="account-box">
                    <form form method="post" action="{% url 'login' %}" class="form-signin">
                        {% csrf_token %}
						<div class="account-logo">
                            <a href="/"><img src="{% static 'img/logo-dark.png' %}" alt="logo"></a>
                        </div>
                        {{form.as_p}}
                        <div class="form-group text-right">
                            <a href="forgot-password.html">Forgot your password?</a>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary account-btn">Login</button>
                        </div>
                        <div class="text-center register-link">
                            Don’t have an account? <a href="{% url 'signup' %}">Register Now</a>
                        </div>
                    </form>
                </div>
			</div>
        </div>
    </div>
{% endblock %}