{% extends 'index.html' %}
{% load static %}


{% block signup %}
    <div class="main-wrapper  account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                    <form method="post" action="{% url 'signup' %}" class="form-signin">
                        {% csrf_token %}
						<div class="account-logo">
                            <a href="/"><img src="{% static 'img/logo-dark.png' %}" alt="logo"></a>
                        </div>
                        {{form.as_p}}
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Signup</button>
                        </div>
                        <div class="text-center login-link">
                            Already have an account? <a href="{% url 'login' %}">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}