{% extends "admin/base.html" %}

{% block title %}{{ title }} | eHealth-Medical Record System{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">eHealth</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
