 {% load static %}

        <div class="header">
			<div class="header-left">
				<a href="/" class="logo">
					<img src="{% static 'img/logo.png' %}" width="35" height="35" alt=""> <span>django-HMS</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                        {% if patient.photo %}
                            <img class="profile-user-img img-fluid img-circle"
                             src="{{patient.photo.url}}"
                             width=200
                             length=150
                             alt="photo">
                        {% elif doctor.photo %}
                            <img class="profile-user-img img-fluid img-circle"
                             src="{{doctor.photo.url}}"
                             width=200
                             length=150
                             alt="photo">
                        {% else %}
                        	<img class="rounded-circle" src="{% static 'img/user.jpg' %}" width="24" alt="profilePic">
                        {% endif %}
							<span class="status online"></span>
						</span>
						<span>Profile</span>
                    </a>
					<div class="dropdown-menu">
					{% if not request.user.is_authenticated %}
					    <a class="dropdown-item" href="/login">Login</a>
					    <a class="dropdown-item" href="/signup">SingUp</a>
					{% else %}
						<a class="dropdown-item" href="/{{user.get_absolute_url}}">My Profile</a>
						<a class="dropdown-item" href="#">Edit Profile</a>
						<a class="dropdown-item" href="#">Logout</a>
				    {% endif %}
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
 					{% if not request.user.is_authenticated %}
					    <a class="dropdown-item" href="/login">Login</a>
					    <a class="dropdown-item" href="/signup">SingUp</a>
					{% else %}
						<a class="dropdown-item" href="/{{user.get_absolute_url}}">My Profile</a>
						<a class="dropdown-item" href="#">Edit Profile</a>
						<a class="dropdown-item" href="#">Logout</a>
				    {% endif %}
                </div>
            </div>
        </div>