        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="#"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                        <li>
                            <a href="/patients/profile/"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                        </li>

						<li class="submenu">
							<a href="#"><i class="fa fa-user"></i> <span> Employees </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="#">Employees List</a></li>
								<li><a href="#">Leaves</a></li>
								<li><a href="#">Holidays</a></li>
								<li><a href="#">Attendance</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fa fa-flag-o"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="#"> ICU </a></li>
								<li><a href="#"> Statistics </a></li>
							</ul>
						</li>
                    </ul>
                </div>
            </div>
        </div>