{% extends 'index.html' %}


{% block content %}

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Patients Data</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h6 class="card-title text-bold">Datatable</h6>
								<div class="table-responsive">
									<table class="datatable table table-stripped ">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Sex</th>
                                            <th>Diagnosed Of</th>
                                            <th>Start of Residence</th>
                                            <th>View Detail</th>
                                        </tr>
                                    </thead>
                                {%  if patient_list %}
                                    {% for patient in patient_list %}
                                        <tbody>
                                            <tr>
                                                <td>{{ patient.first_name }}</td>
                                                <td>{{ patient.last_name }}</td>
                                                <td>{{ patient.sex }}</td>
                                                <td>{{ patient.diagnosed }}</td>
                                                <td>{{ patient.stateOfResidence }}</td>
                                                <td><a href="{{patient.get_absolute_url}}"><i class="fas fa-eye"></td>
                                            </tr>
                                     </tbody>
                                    {% endfor %}
                                {% else %}
                                    <h3>No data Added yet! </h3>
                                {% endif %}
                                </table>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}