<!DOCTYPE html>
<html lang="en">

{% include 'snippets/head.html' %}

<body>
<div class="main-wrapper">
           {% include 'snippets/header.html' %}
           {% include 'snippets/sidebar.html' %}


           {% block content  %}

           {% endblock %}

</div>

        {% block signup %}
        {% endblock %}

        {% block login %}
        {% endblock %}

   <div class="sidebar-overlay" data-reff=""></div>

      {% include 'snippets/scripts.html' %}
</body>
</html>